{% extends "base.html" %}
{% block content %}
{% include "include_search.html" %}


<div class="row">
<div class="col-lg-6">
  <h4>Last modifed users</h4>
  <p>The most recent changes to users</p>
  <ul class="searchlist">
{% for user in user_list %}
    <li>
      <a href="{{ user.get_absolute_url }}">{{user.username}}: {{user.fullname}}</a>
      {{user.last_modified}}
      {{user.last_modified_by}}
    </li>
{% endfor %}
  </ul>
</div>
<div class="col-lg-6">
  <h4>Last modifed aliases</h4>
  <p>The most recent changes to aliases</p>

  <ul class="searchlist">
{% for alias in alias_list %}
    <li>
      <a href="{{ alias.username.get_absolute_url }}">{{alias}}: {{alias.username}}</a>
      {{alias.last_modified}}
      {{alias.last_modified_by}}
    </li>
{% endfor %}
  </ul>
</div>
</div>

{% endblock %}
