{% extends "base.html" %}
{% block content %}
<h1>Virtual User Table MANager</h1>
<hr />
<form action="/vutman/search/" method="get">
  <p>
    <input type="text" class="form-control input-lg" placeholder="Search" value="{{query_string}}" name="q">
  </p>
  <p>
    <div class="checkbox">
      <label>
	<input type="checkbox" name="alias" checked>Aliases
      </label>
      <label>
	<input type="checkbox" name="user" checked>Users
      </label>
      <label>
	<input type="checkbox" name="deleted">Deleted & Disabled
      </label>
      <!--
	  <label>
	    <input type="checkbox" name="domain">Domains
	  </label>
	  <label>
	    <input type="checkbox" name="server">Servers
	  </label>
	  -->
    </div>
    <input type="submit" class="btn btn-lg btn-primary" value="submit" />
  </p>
</form>

<div>
  <h4>Last modfied users</h4>
  <ul>
{% for user in user_list %}
    <li>
      <a href="{{ user.get_absolute_url }}">{{user.fullname}}</a>
      {{user.last_modified}}
      {{user.last_modified_by}}
    </li>
{% endfor %}
  </ul>
  <h4>Last modfied aliases</h4>
  <ul>
{% for alias in alias_list %}
    <li>
      <a href="{{ alias.username.get_absolute_url }}">{{alias}}</a>
      {{alias.last_modified}}
      {{alias.last_modified_by}}
    </li>
{% endfor %}
  </ul>
</div>

{% endblock %}
